[tlsrpt_collectd]
storage = sqlite:///var/lib/tlsrpt-reporter/collectd.sqlite
socketname = /run/tlsrpt-reporter/collectd.socket
socketgroup = postfix
socketmode = 0220
log_level = info

[tlsrpt_fetcher]
storage = sqlite:///var/lib/tlsrpt-reporter/collectd.sqlite
log_level = info

[tlsrpt_reportd]
organization_name = example.com
contact_info = smtp-tls-reporting@example.com
sender_address = noreply@example.com
dbname = /var/lib/tlsrpt-reporter/reportd.sqlite
fetchers = /opt/tlsrpt-reporter/venv/bin/tlsrpt-fetcher --config_file /etc/tlsrpt-reporter/tlsrpt.cfg
http_script = curl --silent --header 'Content-Type: application/tlsrpt+gzip' --data-binary @-
# Spread report delivery over 4 hours as recommended by RFC 8460 section 4.1
spread_out_delivery = 14400
log_level = info
